body {
  margin: 0%;
  background-color: #0a0b1a;
  background: #0a0b1a;
}

.MuiInputBase-input {
  font-size: small !important;
}

.WAMuiChipInput-standard-18 {
  color: white !important;
  padding: 2px 4px;
}

.mainPage {
  padding: 40px 60px;
}
.MuiTextField-root {
  background-color: #314054;
}
//for add blog form
..MuiTextField-root {
  width: 100%;
}
