body {
  margin: 0%;
  background-color: #0a0b1a;
  background: #0a0b1a;
}

.MuiInputBase-input {
  font-size: small !important;
  color: #909296 !important;
}

.WAMuiChipInput-standard-18 {
  color: white !important;
  padding: 2px 4px;
}

.mainPage {
  padding: 40px 60px;
}
/* .MuiTextField-root {
  background-color: #314054;
} */

.MuiTextField-root {
  width: 100%;
}

.MuiInputLabel-root {
  color: #bbbcbe !important;
}
.MuiTypography-h5,
.MuiButton-label {
  color: gainsboro !important;
}
